/* styles/Info.module.css */

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card {
  background-color: black; /*radient*/
  text-align: center;
  transition: background-color 1s ease-in-out;
}

.card:hover {
  opacity: 0.8;
}

.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberImage {
  width: 18rem;
  height: 18rem;
}
