/* styles/Info.module.css */

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card {
  background-color: gray; /*radient*/
  text-align: center;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: black;
}

.socials a {
  margin: 0.5rem;
  text-decoration: none;
  color: blue;
}

.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberImage {
  width: 18rem;
  height: 18rem;
}
